/* *{
    padding: 0;
    margin: 0;
}
img{
    text-align: center;
    height: 250px;
    width: 300px;
    border: 1px solid black;
}
h3{
    text-align: center;
    color: black;
    font-size: medium;
    font-style: italic;
}
h5{
    text-align: center;
    color: green;
}
p{
    text-align: center;
    font-style: oblique;
    color: black;
}
li{
    /* border: 2px solid grey; */
    /* height:350px;
    width: 380px;
    list-style: none;
    padding: 20px;
} */
/* ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */ 
